/* You can add global styles to this file, and also import other style files */
/* header section */
.mobile-menu-container .top-menubar{
    display: none;
}
.menu-bar-head {
    width: 100%;
}
.mobile-top-menubar{
    display:none;
    justify-content: flex-end;
    gap: 35px;
    align-items: center;
}
@media (max-width:992px){
    /* header */
    .top-menubar .email-wrapper, .top-menubar .devide-line, .top-menubar .phone-wrapper, .top-menubar .social-icon-wrapper {
        display: none;
    }
    .mobile-menu-container{
        position: relative;
    }
    .mobile-menu-container .mobile-top-menubar {
        display: flex;
        position: absolute;
        right: 12px;
        top: 6px;
        gap: 20px;
    }
    .mobile-menu-container .mobile-top-menubar a span {
        display: none;
    }
    .menu-bar-head span.navbar-toggler-icon i.fa-solid.fa-bars {
        font-size: 30px;
        color:#fff;
    }
    .menu-bar-head button.navbar-toggler {
        padding-left: 0;
    }
    .btn-wrapper a {
        font-size: 14px;
        padding: 9px 20px;
    }
    /******************************************************************home page***************************************************************************** */
    /* hero section */
    .banner-text h5 {
        font-size: 18px;
    }
    .banner-text h1 {
        font-size: 28px;
        line-height:1.4em;
    }
    .banner-text p {
        font-size: 14px;
        line-height: 1.4em;
    }
    /* about */
    .about-section {
        padding: 60px 0;
    }
    .heading-wrapper h2 {
        font-size: 40px;
    }
    .yello-line {
        height: 5px;
        width: 60px;
    }
    .heading-wrapper p {
        font-size: 14px;
        width: 100%;
    }
    .about-card-wrapper h5 {
        font-size: 18px;
    }
    .card-contant {
        padding: 20px;
    }
    .card-contant p {
        font-size: 13px;
    }
    .card-contant a {
        font-size: 13px;
    }
    /* course */
    .course-wrapper h3 {
        font-size: 18px;
    }
    .course-wrapper p {
        font-size: 14px;
    }
    .course-wrapper a {
        font-size: 14px;
    }
    .course-wrapper img {
        width: 80px;
    }
    /* newslatter */
    .news-latter-wrapper h5 {
        font-size: 18px;
    }
    .news-latter-wrapper h2 {
        font-size: 30px;
    }
    .news-latter-wrapper button.btn {
        font-size: 14px;
        padding: 12px 24px;
    }
    .news-letter-section {
        padding: 60px 0 60px;
    }
    .contact-wrapper {
        gap: 10px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contact-wrapper p {
        font-size: 14px;
        text-align: center;
    }
    /* **********************************************************home page end********************************************************************************* */
    /* footer */
    footer {
        padding: 60px 0;
    }
    /* gallery */
    /* figure.gallery-image figcaption {
        display: none;
    } */
    .banner-wrapper {
        padding: 70px 0;
    }
    .banner-wrapper h2 {
        font-size: 36px;
    }
    /* ***********************************************************about us page********************************************************************************* */
    .vision-para {
        font-size: 18px;
        line-height: 1.5em;
    }
    .vision-left h2, .mission-right h2 {
        font-size: 28px;
    }
    .vision-left p, .mission-right p {
        font-size: 14px;
        line-height: 1.5em;
    }
    .values-wrapper h2 {
        font-size: 28px;
    }
    .values-para {
        font-size: 14px;
        line-height: 1.5em;
        margin-bottom: 18px;
    }
    .values-para span {
        font-size: 18px;
    }
    .mission-section {
        padding: 40px 0;
    }
    .values-section {
        padding: 40px 0 60px;
    }
    .values-wrapper {
        margin-bottom: 60px;
    }
    /* *************************************************************end about us page**************************************************************************** */
    /*************************************************************** gallery page *********************************************************************/
    .gallery-image-section {
        padding: 50px 0 0;
    }
    .gallery-para {
        font-size: 18px;
        line-height: 1.5em;
    }
    .address-section {
        padding: 130px 0 70px;
        margin-top: -120px;
    }
    /* *******************************************************************end gallery page******************************************************************* */
    /* **********************************************************************contact-page**************************************************************** */
    .form-content-wrapper {
        padding: 40px 0;
    }
    .form-content-wrapper h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .contact-info {
        padding: 20px;
    }
    .info-top h3 {
        font-size: 22px;
    }
    .info-top p {
        font-size: 16px;
    }
    .info-middle .phone-wrapper a, .info-middle .email-wrapper a {
        font-size: 16px;
    }
    .address-wrapper p {
        font-size: 16px;
    }
    .info-bottom .social-icon-wrapper a {
        font-size: 18px;
        padding: 3px 9px;
    }
    .contact-info:after {
        width: 150px;
        height: 150px;
    }
    .form-content-wrapper input {
        font-size: 14px;
    }
    .form-content-wrapper button {
        font-size: 14px;
        padding: 10px 20px;
    }
    /* **************************************************************************courses page******************************************************* */
    section.faculty-section {
        padding: 50px 0 35px;
    }
    .faculty-section .faculty-para {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .course-text-wrapper h3 {
        font-size: 24px;
    }
    .course-text-wrapper p {
        font-size: 14px;
        line-height: 1.5em;
    }
    .summer-section, .data-section, .bussiness-section, .english-section {
        padding: 40px 0;
    }
    .additional-section {
        padding: 40px 0;
    }
    .additional-course-card h3 {
        font-size: 20px;
        line-height: 1.5em;
    }
    .additional-course-card p {
        font-size: 14px;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    /* ************************************************************end course page************************************************************* */
    /* gallery plugin css */
    .touch .gallery-image figcaption:before, .touch .gallery-image figcaption:after{
        opacity: 0;
    }
}

@media(max-width:767px){
   
  
    /* header */
    .menu-bar-head .navbar-toggler-icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .menu-bar-head span.navbar-toggler-icon i.fa-solid.fa-bars {
        font-size: 24px;
    }
    .mobile-menu-container .mobile-top-menubar {
        display: flex;
        position: absolute;
        right: 15px;
        top: 6px;
        gap: 20px;
    }
    /* ******************************************************************home page********************************************************************** */
    /* hero section */
    .banner-text h1 {
        font-size: 24px;
    }
    .banner-text h5 {
        font-size: 15px;
    }
    .banner-img {
        display: none;
    }
    .heading-wrapper h2 {
        font-size: 30px;
    }
    /* about */
    .about-card-wrapper {
        margin-bottom: 25px;
    }
    .about-section {
        padding: 40px 0;
    }
    /* newslatter */
    .news-letter-section {
        padding: 40px 0;
    }
    .news-latter-wrapper h2 {
        font-size: 24px;
        line-height: 1.5em;
    }
    .news-latter-wrapper input.form-control {
        font-size: 13px;
        line-height:1.4em;
    }
    .news-latter-wrapper button.btn {
        font-size: 13px;
        padding: 12px 20px;
    }
    .news-latter-wrapper h5 {
        font-size: 15px;
    }
    /* ***********************************************************************************end home page***************************************************************** */
    /* footer */
    .footer-gallery ul {
        gap: 25px;
        flex-wrap: wrap;
    }
    .banner-wrapper {
        padding: 50px 0;
    }
    .banner-wrapper h2 {
        font-size: 30px;
        line-height: 1.5em;
    }
    /* ****************************************************************************about us page*************************************************************************** */
    .vision-left h2, .mission-right h2 {
        font-size: 24px;
    }
    .vision-left {
        margin-bottom: 12px;
    }
    .values-section {
        padding: 40px 0 40px;
    }
    /* ***********************************************************************************end about us page****************************************************************** */
    /* *************************************************************************************contact page******************************************************************* */
    .form-section {
        padding: 40px 0;
    }
    .contact-info {
        gap: 25px;
    }
    .info-middle {
        gap: 15px;
    }
    .info-middle .phone-wrapper a, .info-middle .email-wrapper a {
        font-size: 14px;
    }
    .address-wrapper p {
        font-size: 14px;
    }
    .contact-info:after {
        width: 100px;
        height: 100px;
        right: -15px;
        bottom: -15px;
    }
    /* *******************************************************************contact pahe end************************************************************************* */
    /* ********************************************************************course page**************************************************************************** */
    .faculty-section .faculty-para {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .course-text-wrapper h3 {
        font-size: 20px;
    }
    .additional-course-card h3 {
        font-size: 18px;
        line-height: 1.5em;
    }

}
@media(max-width:400px){
    .news-latter-wrapper .input-group {
        flex-direction: column;
    }
    .news-latter-wrapper .input-group input.form-control {
        width: 100%;
        border-radius: 5px 5px 0 0 !important;
        line-height: 2.4em;
    }
    .news-latter-wrapper .input-group .input-group-btn {
        width: 100%;
    }
    .news-latter-wrapper .input-group .input-group-btn button {
        width: 100%;
        border-radius: 0 0 5px 5px;
    }
    .news-latter-wrapper .input-group .input-group-btn {
        margin-left: 0 !important;
    }
    .news-latter-wrapper h2 {
        font-size: 20px;
    }
}



:root{
    --blue:#0B336E;
    --yellow:#FFC408;
    --red:#A63336;
}
body{
    font-family: Poppins;
}
.blue{
    color: var(--blue);
}
/* top header */
.top-header{
    background: url(/assets/images/header-bg.png) no-repeat center center;
    background-size: cover;
}
.email-wrapper a, .phone-wrapper a{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-decoration:none;
    color: #000;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.social-icon-wrapper{
    display: inline-flex;
    align-items: center;
    gap: 20px;
}
.social-icon-wrapper a{
    font-size: 15px;
    color:#000;
}
.btn-wrapper a {
    border-radius: 8px;
    border: 1px solid #0B336E;
    background: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #0b336e;
    box-shadow: 2px 2px 0px 1px #0b336e;
    padding: 12px 25px;
}
.top-menubar {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    align-items: center;
}
.devide-line {
    width: 1px;
    height: 28.125px;
    background: #A63336;
}
/* menubar */
.menubar-wrapper{
    background: var(--blue);
}
.menubar-wrapper a{
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.menubar-wrapper .navbar-nav .nav-link.active{
    color: var(--yellow);
}
/* banner section */
.banner-wrapper{
    background: url(/assets/images/about/about-banner.png)no-repeat center center;
    background-size: cover;
    padding:110px 0;
}
.banner-wrapper h2{
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    color: var(--blue);
    text-align: center;
}

/* hero section */
.hero-section{
    background: url(/assets/images/banner.png)no-repeat center center;
    background-size: cover;
}
.banner-text h5{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--red);
}
.banner-text h1{
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    color: var(--blue);
}
.banner-text p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #000;
}

/* about section */
.about-section{
    padding: 90px 0;
    background: url(/assets/images/about-bg.png)no-repeat center center;
    background-size: cover;
}
.heading-wrapper{
    text-align: center;
}
.heading-wrapper h2{
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 105.286%;
    color: var(--blue);
}
.heading-wrapper p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 134.023%;
    letter-spacing: -0.16px;
    color: #000;
    width: 70%;
}
.yello-line{
    height: 6px;
    width: 77px;
    background: var(--yellow);
}
.about-card-wrapper h5{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 134.023%;
    letter-spacing: -0.22px;
    text-transform: uppercase;
    color: var(--blue);
}
.about-card {
    position: relative;
}
.card-contant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    transition: .4s ease-in-out;
    opacity: 0;
}
.about-card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    background: #0B336E;
    z-index: 0;
    transition: .4s ease-in-out;
}
.about-card:hover .card-contant{
    opacity: 1;
}
.about-card:hover::after{
    opacity: 0.699999988079071;
}
.card-contant p{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 134.023%;
    letter-spacing: -0.16px;
    color: #fff;
}
.card-contant a{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.card-contant a i{
    margin-left: 10px;
}
/* servisess section */
.course-wrapper {
    border-radius: 8px;
    border: 1px solid #0B336E;
    background: #fff;
    padding: 35px 25px;
    text-align: center; 
}
.course-wrapper:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #0B336E;
    z-index: -1;
}

.course-wrapper img {
    width: 110px;
    margin-bottom: 20px;
}
.course-wrapper h3{
    font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 105.286%;
margin-bottom: 20px;
color: var(--blue);
}
.course-wrapper p{
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-bottom: 40px;
color: #000;
}
.course-wrapper a{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.course-wrapper {
    position: relative;
    height: 100%;
}
.course-wrapper:after {
    content: "";
    border-radius: 8px;
    border: 1px solid #0B336E;
    background: #FFF;
    position: absolute;
    top: 5px;
    left: 5px;
}
.course-wrapper a i{
    margin-left:10px;
}
.course-wrapper:hover{
    background: linear-gradient(149deg, #0B336E 0%, #FFC408 100%);
    color: #fff;
}
.course-wrapper:hover a, .course-wrapper:hover p, .course-wrapper:hover h3{
    color: #fff;
}
.course-wrapper:hover img{
    filter: invert(1);
}
/* gallery section */
.gallery-section {
    margin-top: 50px;
}

  /* news latter section */
  .news-latter-wrapper{
    text-align: center;
  }
  .news-latter-wrapper h5{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--red);
  }
  .news-latter-wrapper h2{
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.748px;
    text-transform: capitalize;
    color: var(--blue);
  }
  .news-latter-wrapper button.btn {
    background: var(--blue);
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 20px 30px;
  }
  .news-latter-wrapper input.form-control {
    border-radius: 8px;
    border: 1px solid #0B336E;
    background: #FFF;
    margin-right: -7px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    }
    .contact-wrapper {
        display: flex;
        gap: 20px;
        border-radius: 8px;
        border: 3px solid #FFC408;
        background: #FFF;
        padding: 20px 20px;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .contact-wrapper p{
        margin: 0;
    }
    .contact-wrapper img {
        width: 48px;
    }
    .news-letter-section{
        padding: 80px 0 90px;
        background: url(/assets/images/gallery/news-latter-bg.png) no-repeat center center;
        background-size: cover;
    }
    /* address section */
.address-section {
    background: url(/assets/images/gallery-page/gallery-address-bg.png) no-repeat center center;
    background-size: cover;
    padding: 180px 0 100px;
    margin-top: -140px;
}
    /* footer */
    footer{
        background: url(/assets/images/footer-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px 0;
    }
    .footer-gallery ul {
        list-style: none;
        display: flex;
        gap: 30px;
        justify-content: center;
        padding: 0;
    }
    li.footer-link a{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
    }
    /* footer bottom */
    .footer-bottom{
        background:#0B336E;
        padding: 10px 0;
        text-align: center;
    }
    .footer-bottom p{
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.205px;
    color: #fff;
    }
    .banner-text h1 {
    font-size: 24px;
    line-height: 1.4em;
}

    /* responsive */
    .mfp-with-zoom .mfp-title, .touch .gallery-image figcaption, html:not(.touch) .gallery-image figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        color: rgba(255, 255, 255, 0);
        padding: 1em;
        transition: all 0.2s ease;
        font-weight: 600;
        max-width: calc(100% - 9em);
        line-height: 1.25;
        text-align: center;
        box-sizing: border-box;
      }
      .gallery-image figcaption img {
          opacity: 0;
          transition: all 0.2s ease;
      }
      .gallery-image:hover figcaption img{
          opacity: 1;
      }
      .mfp-with-zoom .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
        content: "";
        position: absolute;
        background: rgba(255, 196, 8, 0.3);
        width: 100%;
        height: 100%;
        padding: 5em;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        z-index: -1;
      }
      .mfp-with-zoom .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
        right: 100%;
        bottom: 100%;
      }
      .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
        left: 100%;
        top: 100%;
      }
      
      .mfp-with-zoom.mfp-ready .mfp-title, .touch .gallery-image figcaption, html:not(.touch) .gallery-image:hover figcaption {
        color: white;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease 0.3s;
      }
      .mfp-with-zoom.mfp-ready .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image:hover figcaption:before, .mfp-with-zoom.mfp-ready .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image:hover figcaption:after {
        opacity: 1;
      }
      .mfp-with-zoom.mfp-ready .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image:hover figcaption:before {
        right: -1.5em;
        bottom: -1.5em;
      }
      .mfp-with-zoom.mfp-ready .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image:hover figcaption:after {
        left: -1.5em;
        top: -1.5em;
      }
      
      html {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
      }
      
      body {
        font-family: "Montserrat", sans-serif;
      }
      
      .gallery {
        -moz-column-gap: 0;
             column-gap: 0;
      }
      @media (min-width: 480px) {
        .gallery {
          -moz-column-count: 2;
               column-count: 2;
        }
      }
      @media (min-width: 1260px) {
        .gallery {
          -moz-column-count: 3;
               column-count: 3;
        }
      }
      
      .gallery-image {
        position: relative;
        margin: 0;
        padding: 0;
      }
      .gallery-image:before, .gallery-image:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 10px solid rgb(255 255 255 / 100%);
          transition: all 0.2s;
          will-change: border;
      }
      .gallery-image:after {
        border-width: 0;
      }
      .gallery-image img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
      html:not(.touch) .gallery-image {
        overflow: hidden;
      }
      /* html:not(.touch) .gallery-image:hover:before {
        border-width: 16px;
      } */
      /* html:not(.touch) .gallery-image:hover:after {
        border-width: 32px;
      } */
      .touch .gallery-image figcaption {
        top: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
        opacity: 0;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        transition: all 0.3s ease-out;
      }
      .mfp-with-zoom.mfp-bg {
        background-color: rgba(0, 0, 0, 0.9);
      }
      .mfp-with-zoom.mfp-ready .mfp-container {
        opacity: 1;
      }
      .mfp-with-zoom.mfp-ready.mfp-bg {
        opacity: 1;
      }
      .mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
        opacity: 0;
      }
      .mfp-with-zoom img.mfp-img {
        padding: 0;
      }
      .mfp-with-zoom .mfp-figure:after {
        top: 0;
        bottom: 0;
      }
      .mfp-with-zoom .mfp-container {
        padding: 0;
      }
      .mfp-with-zoom .mfp-content {
        overflow: hidden;
      }
      .mfp-with-zoom .mfp-bottom-bar {
        top: auto;
        bottom: 0;
        margin-top: 0;
      }
      .mfp-with-zoom .mfp-title {
        top: auto;
        bottom: 2em;
      }
      .mfp-arrow {
        opacity: 1;
        margin-top: 0 !important;
        width: 20%;
        height: 30%;
        transform: translateY(-50%);
      }
      .mfp-arrow:before, .mfp-arrow:after {
        margin: 0;
        border: none;
        width: 2rem;
        height: 2rem;
        transform: rotate(-45deg) translate(-50%, -100%);
        opacity: 1;
        top: 50%;
        left: 50%;
        transition: all 0.15s;
      }
      .mfp-arrow:active {
        transform: translateY(-50%) scale(0.95);
      }
      
      .mfp-arrow-left {
        left: 0;
      }
      .mfp-arrow-left:before, .mfp-arrow-left:after {
        border-top: 2px solid white;
        border-left: 2px solid white;
      }
      .mfp-arrow-left:after {
        margin-left: 2rem;
      }
      .mfp-arrow-left:hover:before, .mfp-arrow-left:active:before {
        margin-left: 2rem;
      }
      .mfp-arrow-left:hover:after, .mfp-arrow-left:active:after {
        margin-left: 0;
      }
      
      .mfp-arrow-right {
        right: 0;
      }
      .mfp-arrow-right:before, .mfp-arrow-right:after {
        border-right: 2px solid white;
        border-bottom: 2px solid white;
      }
      .mfp-arrow-right:after {
        margin-left: 2rem;
      }
      .mfp-arrow-right:hover:before {
        margin-left: 2rem;
      }
      .mfp-arrow-right:hover:after {
        margin-left: 0;
      }
      
      button.mfp-close {
        opacity: 1;
        margin-top: 0 !important;
        width: 20%;
        height: 30%;
        font: 0/0 serif;
        text-shadow: none;
        color: transparent;
      }
      button.mfp-close:before, button.mfp-close:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        border: none;
        width: 2rem;
        height: 2rem;
        opacity: 1;
        transition: all 0.15s;
        transform-origin: 0 0;
        border-top: 2px solid white;
        border-left: 2px solid white;
      }
      button.mfp-close:before {
        transform: rotate(-45deg);
      }
      button.mfp-close:after {
        transform: rotate(135deg);
      }
      button.mfp-close:hover:before {
        transform: rotate(135deg);
      }
      button.mfp-close:hover:after {
        transform: rotate(315deg);
      }
      button.mfp-close:active {
        transform: scale(0.95);
      }
      
      a {
        text-decoration: none;
        color: inherit;
      }
      
      [id=footer] {
        margin-top: 10vh;
        padding: 10vh 0;
        text-align: center;
      }
      [id=footer] .container {
        position: relative;
      }
      [id=footer] .container:before, [id=footer] .container:after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 20px;
        z-index: 10;
        border-top: 2px solid;
        width: 10%;
        margin-bottom: 10vh;
      }
      [id=footer] .container:after {
        left: auto;
        right: 20px;
      }
      [id=footer] * {
        display: block;
      }
      [id=footer] * + * {
        margin-top: 5vh;
      }
      [id=footer] .logo {
        font-weight: 600;
        font-size: 1.5em;
      }
      [id=footer] .copy {
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 600;
      }

      .top-header{
        background: url(/assets/images/header-bg.png) no-repeat center center;
        background-size: cover;
    }
/* Navbar styles */
/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0B336E;
  padding: 14px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #1976d2;
}

.navbar a.active {
  background-color: #1976d2;
  font-weight: bold;
}



/* vision and mission section */
.vision-section{
    background: url(/assets/images/about/about-vision-banner.png) no-repeat center center;
    background-size: cover;
}
.vision-para{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
    color: #000;
    text-align: center;
}
.vision-left h2,
.mission-right h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    color: var(--blue);
}
.vision-left p,
.mission-right p{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}
.mission-section{
   background: #F6F7F9;
   padding: 60px 0;
}
/* values section */
.values-section{
    padding: 80px 0;
    background: url(/assets/images/about/values-bg.png) no-repeat center center;
    background-size:cover;
}
.values-wrapper{
    margin-bottom: 100px;
}
.values-wrapper h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    color:var(--blue);
    text-align: center;
    margin-bottom: 15px;
}
.values-para{
    font-size: 16px;
    font-style: normal;
    line-height: 30px;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 25px;
}
.values-para span{
    font-size: 22px;
    color: var(--blue);
    font-weight: 700;
}

.form-section{
    padding: 60px 0;
}
.form-wrapper{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
    padding: 10px;
}
.contact-info {
    background-color: var(--blue);
    height: 100%;
    border-radius: 10px;
    padding: 40px;
    color: #fff;
    position: relative;
    margin-left: -10px;
}
.contact-info:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(/assets/images/contact-circle.png)no-repeat center center;
    background-size: contain;
    right: -35px;
    bottom: -35px;
}
.info-middle {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.info-top h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.info-top p {
    color: #C9C9C9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.info-middle .phone-wrapper a,
.info-middle .email-wrapper a {
    font-size: 20px;
    color: #FFF;
}
.address-wrapper p {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 0;
}
.info-bottom .social-icon-wrapper a {
    font-size: 30px;
    color: #0B336E;
    background: #fff;
    border-radius: 50%;
    padding: 6px 15px;
}
.address-wrapper p i {
    margin-top: 6px;
}
.form-content-wrapper{
    padding: 70px 0;
}
.form-content-wrapper h3{
    color:var(--blue);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;

}
.form-content-wrapper label {
    color: #8D8D8D;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.form-content-wrapper input {
    border: none;
    border-bottom: 1px solid #8D8D8D;
    border-radius: 0;
    padding: 5px 0;
}
.form-content-wrapper textarea {
    border: none;
    border-bottom: 1px solid #8D8D8D;
    border-radius: 0;
    padding-left: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.form-content-wrapper button {
    border-radius: 8px;
    border: 1px solid #0B336E;
    background: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #0B336E;
    padding: 14px 25px;
    box-shadow: 1px 1px 0px 1px #0b336e;
}
section.map-section iframe {
    width: 100%;
    margin-bottom: -8px;
}


/* faculty section */
section.faculty-section {
    padding: 80px 0 65px;
    background: url(/assets/images/courses/faculty-bg.png)no-repeat center center;
    background-size: cover;
}
.faculty-section .faculty-para {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}
.course-text-wrapper h3{
    font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
color: var(--blue);
}
.course-text-wrapper p{
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.summer-section{
background: #F6F7F9;
padding: 65px 0;
}
.data-section{
    background: url(/assets/images/courses/data-bg.png) no-repeat center center;
    background-size: cover;
    padding: 65px 0;
}
.bussiness-section{
    background: #F6F7F9;
    padding: 65px 0;
}
.english-section{
    background: url(/assets/images/courses/english-course-bg.png)no-repeat center center;
    background-size: cover;
    padding: 65px 0;
}
.additional-section{
    padding: 60px 0;
}
.additional-course-card{
    text-align: center;
}

.additional-course-card h3{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    color: var(--blue);
}
.additional-course-card p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    margin-bottom: 40px;
}




